#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        two-hand-hold-down-bootloader {
            bindings = <&bootloader>;
            key-positions = <0 10 4 14>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        label = "wyatt-3x5";

        default_layer {
            label = "Default";
            bindings = <
&kp A  &trans          &kp GRAVE  &trans            &kp W
&kp D  &kp X           &kp M      &trans            &kp S
&kp Q  &kp LEFT_SHIFT  &kp J      &kp LEFT_CONTROL  &kp SPACE
            >;
        };
    };
};
